@font-face {
    font-family: "Equip";
    src: url("fonts/EquipLig-webfont.eot");
    src: url("fonts/EquipLig-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/EquipLig-webfont.woff2") format("woff2"), url("fonts/EquipLig-webfont.woff") format("woff"), url("fonts/EquipLig-webfont.ttf") format("truetype"), url("fonts/EquipLig-webfont.svg#equiplight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo";
    src: url("fonts/MuseoSans_500-webfont.eot");
    src: url("fonts/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSans_500-webfont.woff2") format("woff2"), url("fonts/MuseoSans_500-webfont.woff") format("woff"), url("fonts/MuseoSans_500-webfont.ttf") format("truetype"), url("fonts/MuseoSans_500-webfont.svg#museo_sans500") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
}

.km-flat,
* {
    font-family: Equip, Arial, sans-serif !important;
}